body {
  padding-top: 50px;
  font-family: Courier New, Courier, monospace;
  background-color: #33ffc7;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
  color: blue;
}

#promo {
padding: 50px;
width: 100%; 
height: 100%;
}

.lead {
	color: black;
}

.options {
	overflow: hidden;
	display: flex;
	justify-content: space-around;
	border: medium;
}

.score {
	display: flex;
	justify-content: space-around;

}

.circle {
    width: 50px;
    height: 50px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    background: red;
    display: inline-block;
}

.button{
  text-align: center;
  vertical-align: middle;
  line-height: 90px;       /
  border: 10px solid black;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  background-color: #3b3293;
  border-radius: 20%;
  width: 100px;
  height: 90px;
  color: black;
}

/*#winner {
  text-decoration: blink;
}*/
